@import url(https://fonts.googleapis.com/css?family=Sue+Ellen+Francisco);


html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

@import 'github-user';
@import 'variables';

body {
  background-color: $white;
}

.blank {
  color: red;
  font-family: 'Sue Ellen Francisco', cursive;
  font-size: 24px;
}